@import "../utilities/colors.module";
@import "../utilities/containers.module";
@import "../utilities/headers.module";
@import "../utilities/mixins.module";

.container {
	width: 100%;
	form {
		@include flex-h-center();
		row-gap: px_rem(32);

		.inputWrapper {
			position: relative;
			padding: px_rem(16) 0 0;
			width: 100%;

			input,
			textarea {
				display: flex;
				width: 100%;
				padding: px_rem(4) px_rem(0);
				@include base();
				letter-spacing: px_rem(-0.22);
				color: $primary-white;
				border-bottom: px_rem(1) solid $primary-white;
				background: transparent;
				transition: border-color 0.2s;
				border-radius: 0;
				-webkit-appearance: none;
				&::placeholder {
					color: transparent;
				}
			}
			input:-webkit-autofill {
				-webkit-box-shadow: 0 0 0 50px $gray-100 inset;
				-webkit-text-fill-color: $primary-white;
			}

			input:-webkit-autofill:focus {
				@include base();
				-webkit-box-shadow: 0 0 0 50px $gray-100 inset;
				-webkit-text-fill-color: $primary-white;
			}
			textarea {
				height: px_rem(100);
				resize: none;
			}
			input:placeholder-shown ~ label,
			textarea:placeholder-shown ~ label {
				@include base();
				text-transform: uppercase;
				cursor: text;
				opacity: 50%;
				color: $primary-white;
				top: px_rem(19.2);
			}
			label,
			input:focus ~ .label {
				@include base();
				text-transform: uppercase;
				position: absolute;
				top: px_rem(-6);
				display: block;
				color: $primary-white;
				left: px_rem(-1);
				transition: 0.3s;
			}
			input:focus ~ label {
				color: $primary-white;
			}
			input:focus {
				border-bottom: 1px solid $primary-green;
			}

			&:nth-child(2) {
				@include flex-h-center();
				p {
					margin-top: px_rem(5);
					margin-bottom: 0;
					font-weight: 500;
					font-size: px_rem(12);
					line-height: px_rem(16);
					letter-spacing: px_rem(-0.17);
					color: $error;
					align-self: flex-end;
				}
			}
		}
		button {
			align-self: flex-end;
		}
		@include desktop {
			margin-left: px_rem(220);
		}
	}
}
