@import "../utilities/containers.module";
@import "../utilities/mixins.module";
@import "../utilities/headers.module";
@import "../utilities/colors.module";

.container {
	.thumbnail {
		@include desktop {
			position: relative;
			.lgBtnContainer {
				@include flex-h-center();
				justify-content: center;
				position: absolute;
				row-gap: px_rem(48);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				pointer-events: none;
				button {
					display: none;
				}
			}
			&:hover {
				img {
					opacity: 25%;
				}
				.lgBtnContainer {
					button {
						display: flex;
						pointer-events: auto;
					}
				}
			}
		}
		img {
			height: 100%;
			width: 100%;
		}
	}

	h3 {
		@include h3();
		font-size: px_rem(24) !important;
		letter-spacing: 0;
		color: $primary-white;
		margin-top: px_rem(20);
		margin-bottom: px_rem(7);
	}
	.skillsList {
		@include flex-v-center();
		@include base();
		justify-content: flex-start;
		font-size: px_rem(18);
		line-height: px_rem(28);
		color: $gray-200;
		column-gap: px_rem(18);
		margin-bottom: px_rem(20);
	}

	.smBtnContainer {
		@include flex-v-center();
		justify-content: flex-start;
		column-gap: px_rem(30);
		@include desktop {
			display: none;
		}
	}
}
